<div class="container-fluid main_menu">
            <div class="row">
                <div class="col-md-10 col-12 mx-auto">
                    <nav class="navbar navbar-expand-lg ">
                        <div class="container-fluid">
                          <a class="navbar-brand" href="/weather"><i class="icn far fa-snowflake"></i> Weather-App <i class="icn far fa-snowflake"></i></a>
                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                          <div class="nav-at collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="nav-at navbar-nav mb-2 mb-lg-0">
                              <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="home">Home</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="weather">Weather-Page</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="about">About-Us</a>
                              </li>
                          </div>
                        </div>
                      </nav>
                </div>
            </div>
        </div>